<apex:page standardcontroller="Case" extensions="BIIB_EditMultipleWorkItem" sidebar="false" showHeader="false">
    <apex:includeScript value="/support/console/28.0/integration.js"/>
    <apex:form >
        <script>
            function closeCurrentTab() {
                //First find the ID of the current tab to close it
                sforce.console.getEnclosingTabId(closeSubtab);
            }
            
            var closeSubtab = function closeSubtab(result) {
                //Now that we have the tab ID, we can close it
                var tabId = result.id;
                sforce.console.closeTab(tabId);
            };
            
            var openSubtab = function openSubtab1(result) {
                //Open the subtab by the name specified in function testOpenSubtabByPrimaryTabName()
                sforce.console.openSubtab(result.id,'/'+'{!Case.Id}',true,'{!Case.CaseNumber}','',closeCurrentTab)
            };
            
            function openPrimaryTab() {
                sforce.console.getEnclosingPrimaryTabId(openSubtab);
            }
            sforce.console.setTabTitle('Multi Edit Work Item');
        </script>
        
        <apex:pageBlock title="Edit Work Items" id="pbEditItem">
            <apex:pageMessages />
            <apex:pageblockbuttons location="top">
                <apex:commandbutton action="{!Save}" value="Save" rerender="pbEditItem" status="status"/>
                <apex:commandbutton value="Cancel" onclick="openPrimaryTab();" rerender="pbEditItem" status="status"/>
            </apex:pageblockbuttons>
            <apex:pageblockTable value="{!lstWork}" var="workItem">
                <apex:column headerValue="Name">
                    <apex:inputfield value="{!workItem.Name}" required="true"/>
                </apex:column>
                <apex:column headerValue="Assigned To">
                    <apex:inputfield value="{!workItem.BIIB_Assigned_to__c}" />
                </apex:column>
                <apex:column headerValue="Status">
                    <apex:inputfield value="{!workItem.BIIB_Status__c}" />
                </apex:column>
                <apex:column headerValue="Preferred Language">
                    <apex:inputfield value="{!workItem.BIIB_Preferred_Language__c}" />
                </apex:column>
            </apex:pageblockTable>
        </apex:pageBlock>
        <apex:actionstatus id="status">
            <apex:facet name="start">
                <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;
                       height: 100%;opacity:0.65;width:100%;"> 
                    <div class="waitingHolder" style="top: 74.2px; width: 91px;">
                        <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                        <span class="waitingDescription">Loading...</span>
                    </div>
                </div>
            </apex:facet>
        </apex:actionstatus>
    </apex:form>
</apex:page>