<apex:page standardController="Child_Account_vod__c" standardStylesheets="true">
<apex:composition template="{!$Page.VODRedirect_vod}"/>
<script type="text/javascript">        
    com.vod309.redirect.redirect("childAccount", "&mode=n");
</script>
</apex:page>